.footer {
  background-color: var(--hero-footer-dg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    align-items: baseline;
  }
}

.footer__address {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2);
  }
  @media screen and (min-width: 1200px) {
    width: 231px;
    margin-bottom: 0;
  }
}

.addres__item:not(:last-child) {
  margin-bottom: 8px;
}

.addres__link-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.addres__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
  &:hover,
  &:focus {
    color: var(--secondary-text-color);
  }
}

.footer__social {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2);
    margin-bottom: 102px;
  }
  @media screen and (min-width: 1200px) {
    width: 206px;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer__subscription {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-left: 93px;
  }
}
.subscription__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.subscription__email-input {
  @media screen and (min-width: 1200px) {
    display: inline-block;
    width: 358px;
    margin-right: 12px;
  }
  width: 100%;
  max-width: 450px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  cursor: pointer;
}

.subscription__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
  &-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    margin-right: 10px;
  }
  & {
    width: 100%;
    max-width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
