.we-can {
  padding-bottom: 94px;
}
.we-can__title {
  margin-bottom: 50px;
  @include section-title;
}
.we-can__list {
  display: flex;
  flex-wrap: wrap;
  & .we-can__item:not(:last-child) {
    display: block;
    width: 370px;
    margin-right: 30px;
  }
  & .we-can__item:last-child {
    display: block;
  }
}
.we-can__item {
  position: relative;
}

.we-can__info {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  width: 100%;
  height: 70px;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
}
