.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--first-logo-color);
}

.header__logo {
  margin-right: 93px;
  & > span {
    color: #000000;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  & > span {
    color: var(--secondary-text-color);
  }
}
