body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
