body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: $primery-text-color;
  background-color: $background-conponents-color;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
