:root {
  --first-logo-color: #2196f3;
  --last-logo-color: #000000;
  --primery-text-color: #757575;
  --link-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --hero-footer-dg-color: #2f303a;
  --section-dg-color: #f5f4fa;
  --card-set-gap: 30px;
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
